.App {
  padding: 30px;
}

select {
  margin-bottom: 20px;
}

.details-container {
  display: flex;
}

.details-container div {
  width: 50%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

li {
  padding: 5px;
}
